<div>
  <header class="bg-gray-700 p-2.5 mt-8 col-span-2 ">
    <h1 class="text-2xl text-gray-200">Админка</h1>
  </header>
  <div class="flex ">
    <nav class="bg-gray-500 overflow-y-auto p-3  w-1/4 h-96 ">
      <div class="py-3 text-gray-200 cursor-pointer hover:brightness-150">HOME</div>
      <div class="py-3 text-gray-200 relative inline-block ">
        <p id="1" (click)="isShowing($event)" class="cursor-pointer hover:brightness-150">CRUD-AD</p>
        <ul id="1target" class="hidden">
          <li class="py-1 cursor-pointer hover:brightness-150 ">Create</li>
          <li class=" py-1 cursor-pointer hover:brightness-150">Update</li>
          <li class=" py-1 cursor-pointer hover:brightness-150">Delete</li>
        </ul>
      </div>
      <div class="py-3 text-gray-200 cursor-pointer hover:brightness-150">
        <p id="2" (click)="isShowing($event)" class="cursor-pointer hover:brightness-150">CRUD-CATEGORY-SUBCATEGORY</p>
        <ul id="2target" class="hidden">
          <li class="py-1 cursor-pointer hover:brightness-150 ">Create</li>
          <li class=" py-1 cursor-pointer hover:brightness-150">Update</li>
          <li class=" py-1 cursor-pointer hover:brightness-150">Delete</li>
        </ul>
      </div>
      <div class="py-3 text-gray-200 cursor-pointer hover:brightness-150">
        <p id="3" (click)="isShowing($event)" class="cursor-pointer hover:brightness-150">CRUD-CITY</p>
        <ul id="3target" class="hidden">
          <li class="py-1 cursor-pointer hover:brightness-150 ">Create</li>
          <li class=" py-1 cursor-pointer hover:brightness-150">Update</li>
          <li class=" py-1 cursor-pointer hover:brightness-150">Delete</li>
        </ul>
      </div>
    </nav>
    <div class="bg-gray-300 auto-cols-auto w-10/12">
        <form class="p-5 auto-cols-auto">
          <p>Я уебок</p>
        </form>
      <form class="p-5 auto-cols-auto">
        <p>Я уебок</p>
      </form>
    </div>
  </div>
</div>
